

<div class="banner">
  <h1 class="message">Your fastest and safest shipping starts here</h1>

  <p><a class=" btn btn-warning btn-md" href="http://www.nyshipping.com/?gclid=COj2_pXq1tECFUpYDQodiJMDUg" role="button">Learn more</a></p>
</div>
