body {
  // background-image: url("background.jpg");
  background-color: #EAEDED;
  width: 100%;
  text-align: center;
  padding: 10px;


  nav {
    background-color: #7FB3D5;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-position: center;


    nav a {
      padding: 10px;
      text-decoration: none;
      background-color: white;
    }

    .field .center {
      padding-left: 150px;

        nav a {
          padding: 10px;
          text-decoration: none;

          color: #343636;
        }

    }

  } // end nav

  .logo {
    background-image: url("boat-ship.jpg");
    width: inherit;
    height:200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
  }

  img {
    width: 100px;
    height: 100px;
  }

} // end body
